<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reddit clone</title>
</head>
<body>
    {{block "header" .}}{{end}}
    <h1>{{.Title}}</h1>
    <p>
      {{.Text}}
    </p>
    <ul>
      {{range .Lines}}
        <!-- since it is a slice of string the "." is the value -->
        <!-- if it was a struct we could access the field -->
        <li>{{.}}</li>
      {{end}}
    </ul>
    <!-- other options are ne, gt, lt, ge, le -->
    {{if eq .Number1 .Number2}}
      <p>Numbers are equal</p>
    {{else}}
      <p>Numbers are not equal</p>
    {{end}}

    <!-- adding nested templates -->
    <!-- This is useful for example when you have a layout with all the js and css files loaded and then load the sub-components-->
    {{block "content" .}}
      <p>This is the default content!!!</p>
    {{end}}

    <p>here below I am using a template included</p>
    {{template "paragraph" .Text}}
    {{template "paragraph" .Text}}
    {{template "paragraph" .Text}}

    {{block "footer" .}}{{end}}
</body>
</html>